@{
    Layout = null;
}
<form id="formItemCategory">
    <div class="row justify-content-around pb-4">

        <div class="col-md-5">
            <div class="form-group">
                <label for="itemCategoryName">Name</label>
                <input type="text" class="form-control" id="itemCategoryName" aria-describedby="itemCategoryNameHelp" name="name" autocomplete="off" />
                <small id="itemCategoryNameHelp" class="form-text text-muted"> </small>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="itemCategoryPriority">Priority</label>
                <input type="text" class="form-control" id="itemCategoryPriority" aria-describedby="itemCategoryPriorityHelp" name="salary" placeholder="" autocomplete="off" />
                <small id="itemCategoryPriorityHelp" class="form-text text-muted"> </small>
            </div>
        </div>

    </div>
</form>
