@{ViewBag.Title = "NP | Item Category"; }

<div class="row">
    <div class="col-md-12">
        
        <div class="card">
            <div class="card-header" id="itemCategoryViewHeading">
                <div class="row justify-content-around">
                    <div class="col "><h5>Item Categories</h5></div>

                    <div class="col text-right"><button id="itemCategoryAddButton"><i class="fas fa-plus-circle"></i> Add</button></div>
                </div>
            </div>

            <div id="itemCategoryCardBody">
                <div class="card-body" id="itemCategoryCardBodyDynamic">

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {

            //Activating SideNav
            $("#sideNavItemCategory").addClass("active");


            //Loading Item Category Table
            GetItemCategoryList();

            //GetSalaryInfoUpdatePage();

            //$("#salaryInfoHeadingButton").click(function () {
            //    GetSalaryInfosEmployees();
            //});

            $("#itemCategoryAddButton").click(function () {
                GetAddItemCategoryPage();
                //GetSalaryInfosEmployees();
                $("#AddItemCategory").modal("show");
                
            });

            $("#buttonDeleteItemCategory").click(function () {
                DeleteItemCategory();
            });

            $("#buttonUpdateItemCategory").click(function () {
                UpdateItemCategory();
            });

            


        });

        function GetItemCategoryList() {
            $.ajax({
                url: '/Items/ShowItemCategory',
                type: 'get',
                contentType: 'application/json;charset=utf-8',
                //dataType: 'json',
                data: "{}",
                success: function (_data) {

                    $("#itemCategoryCardBodyDynamic").html(_data);


                },
                error: function (res) {
                    console.log(res);
                }
            });
        }


        //To Load AddItemCategory Page in Modal
        function GetAddItemCategoryPage() {
            $.ajax({
                url: '/Items/AddCategory',
                type: 'get',
                contentType: 'application/json;charset=utf-8',

                success: function (_data) {

                    $("#AddItemCategoryBody").html(_data);

                },
                error: function (res) {
                    console.log(res);
                    console.log(res.responseText);
                }
            });
        }


        function AddItemCategory() {
            _enteredName = $("#itemCategoryName").val();
            _enteredPriority = $("#itemCategoryPriority").val();

            var processContinue = false;


            if (_enteredName == "") {
                //console.log("Username Empty");
                $("#itemCategoryNameHelp").html("Insert a name");
                $('#itemCategoryNameHelp').removeClass("text-muted");
                $('#itemCategoryNameHelp').addClass("text-danger");
                processContinue = false;
            } else {

                $("#itemCategoryNameHelp").text("");
                $('#itemCategoryNameHelp').addClass("text-muted");
                $('#itemCategoryNameHelp').removeClass("text-danger");
                processContinue = true;
            }

            //if (processContinue) {
            //    if (_enteredPriority == "") {
            //        //console.log("Password Empty");
            //        $("#itemCategoryPriorityHelp").html("Enter a priority.");
            //        $('#itemCategoryPriorityHelp').removeClass("text-muted");
            //        $('#itemCategoryPriorityHelp').addClass("text-danger");
            //        processContinue = false;
            //    } else {
            //        $("#itemCategoryPriorityHelp").text("");
            //        $('#itemCategoryPriorityHelp').addClass("text-muted");
            //        $('#itemCategoryPriorityHelp').removeClass("text-danger");
            //        processContinue = true;
            //    }
            //}



            if (processContinue) {
                var dataToSend = _enteredName + ":" + _enteredPriority;
                //console.log(dataToSend);
                $.ajax({
                    url: '/Items/AddCategory',
                    type: 'POST',
                    method: 'POST',
                    //dataType: 'json',
                    data: { data: dataToSend },
                    success: function (_data) {
                        console.log(_data);
                        //if (_data == "Added") {
                        //    //window.location.replace("/Home");
                        //} else {
                        //    $("#login-error-msg-span").html(_data);
                        //    $('#salaryInfoYearHelp').removeClass("text-muted");
                        //    $('#salaryInfoYearHelp').addClass("text-danger");
                        //}

                        toastr.success('Successfully', 'Item Category Added', { timeOut: 2500 });
                        $('#itemCategoryCardBodyDynamic').load("/Items/ShowItemCategory/");
                        $("#AddItemCategory").modal("hide");
                    },
                    error: function (res) {
                        console.log(res);
                        //console.log(res.responseText);
                    }
                });
            }



        }

        function SelectItemCategoryID(_id) {

            $('#selectedCategoryDeleteId').val(_id);

        }

        function DeleteItemCategory() {
            //console.log("Delete Employee Triggered");
            var _id = $('#selectedCategoryDeleteId').val();
            $.ajax({
                url: "/Items/DeleteItemCategory/" + _id,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                //dataType: 'json',
                success: function (_data) {
                    //console.log(_data);
                    //console.log("Delete Employee Success");
                    if (_data == "True") {
                        GetItemCategoryList();
                        $("#DeleteItemCategoryModal").modal("hide");
                        toastr.success('Successfully!!!', 'Item Category Deleted', { timeOut: 2000 });
                    } else {
                        $("#DeleteItemCategoryModal").modal("hide");
                        toastr.error('Item Category could not be deleted.', 'OOPS', { timeOut: 2000 });
                    }


                },
                error: function (res) {
                    //console.log("Delete Employee Error");
                    console.log(res);
                }
            });
        }

        function GetItemCategory(_id) {

            $.ajax({
                url: '/Items/GetItemCategory/' + _id,
                type: 'get',
                contentType: 'application/json;charset=utf-8',
                //dataType: 'json',
                success: function (_data) {
                    $('#itemCategoryEditModalBody').html(_data);

                    //$('#updateCreateEmployee').val("UPDATE");

                },
                error: function (res) {
                    console.log(res);
                }
            });
        }

        function UpdateItemCategory() {
            _enteredCategoryId = $("#updateCategoryId").val();
            _enteredCategoryName = $("#updateCategoryName").val();
            _enteredCategoryPriority = $("#updateCategoryPriority").val();
            

            var processContinue = false;


            if (_enteredCategoryName == "") {
                //console.log("Username Empty");
                $("#updateCategoryNameHelp").html("Insert a name");
                $('#updateCategoryNameHelp').removeClass("text-muted");
                $('#updateCategoryNameHelp').addClass("text-danger");
                processContinue = false;
            } else {

                $("#updateCategoryNameHelp").text("");
                $('#updateCategoryNameHelp').addClass("text-muted");
                $('#updateCategoryNameHelp').removeClass("text-danger");
                processContinue = true;
            }


            if (processContinue) {
                var dataToSend = _enteredCategoryId + ":" + _enteredCategoryName + ":" + _enteredCategoryPriority;
                //console.log(dataToSend);
                $.ajax({
                    url: '/Items/UpdateItemCategory',
                    type: 'POST',
                    method: 'POST',
                    //dataType: 'json',
                    data: { data: dataToSend },
                    success: function (_data) {
                        console.log(_data);

                        toastr.success('Successfully', 'Item Category Updated', { timeOut: 2500 });
                        $('#itemCategoryCardBodyDynamic').load("/Items/ShowItemCategory/");
                        $("#itemCategoryEditModal").modal("hide");
                    },
                    error: function (res) {
                        console.log(res);
                        //console.log(res.responseText);
                    }
                });
            }



        }




    </script>
}